@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-error {
    @apply text-red-500 text-sm opacity-80;
  }

  .animate-enter-left {
    animation: animate-enter-left 0.4s ease-in-out forwards;
  }

  @keyframes animate-enter-left {
    from {
      opacity: 0;
      transform: translateX(-20px);
    }
    to {
      opacity: initial;
      transform: initial;
    }
  }

  .animate-enter-right {
    animation: animate-enter-right 0.4s ease-in-out forwards;
  }

  @keyframes animate-enter-right {
    from {
      opacity: 0;
      transform: translateX(20px);
    }
    to {
      opacity: initial;
      transform: initial;
    }
  }

  .animate-width-full {
    animation: animate-width-full 3.5s linear forwards;
  }

  @keyframes animate-width-full {
    from {
      width: 0%;
    }
    to {
      width: 100%;
    }
  }
}
